@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

b,
strong {
    font-weight: bold;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

.main h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.3px;
    color: #244d51;
}

.main p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.3px;
}

.main {
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
    background: #fff;
    padding: 32px;
    border: 1px solid #eaeeee;
    border-radius: 5px;
}

.doctor_item {
    width: 100%;
    transition: ease-in 0.2s all;
    cursor: default;
    padding: 25px;
    display: flex;
    border-bottom: 1px solid #eaeeee;
}

.doctor_item:hover {
    background: #f5f7f7;
}

.doctor_item h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;

    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    color: #244d51;
}

.doctor__img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.doctor_telehealth {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
}

.doctor_additional {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.doctor_additional p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #244d51;
    border-bottom: 1px dotted #999;
    display: inline;
}

.doctor_price {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.3px;
    color: #244d51;
    margin-top: 6px;
}

.doctor_heart {
    transition: ease-in;
}

.doctor_heart:hover svg path {
    fill: rgba(218, 19, 19, 0.836);
}

.doctor__content {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.doctor__content div {
    flex-basis: 33.33333%;
    display: flex;
}

.doc_A h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;

    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    color: #244d51;
}

.dot {
    font-size: 20px;
    font-weight: bold;
    padding: 0 8px;
    line-height: 0;
}

.doc_B p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #244d51;
}

.outer{
    display: flex;
    align-items: center;
}

.outer svg{
    transition: all cubic-bezier(0, 1.18, 0.78, 0.99) 0.45s;;
}

.select_btn.checked{
    background: #327680;
    border-color: #327680;
}

.select_btn.checked > .outer{
    color: #fff;

}

.select_btn.checked > .outer path{
    fill: #fff;
    
}

.select_btn.checked > .outer svg{
    transform: rotate(180deg);
}

.select_btn>.outer>span {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.3px;
}

.select_btn {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 4px;
    padding: 5px 12px;
    border: 1px solid #becacb;
    cursor: pointer;
    width: max-content;
    margin-right: 20px;
    transition: cubic-bezier(0, 1.18, 0.78, 0.99) 0.45s;
}

.select_btn:hover {
    border: 1px solid #327680;
}

.filters {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.reset_link {
    display: flex;
    border-bottom: 1px dotted #ed6852;
    color: #ed6852;
    height: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    cursor: pointer;
    width: max-content;
}

.dropdown_content {
    display: none;
    cursor: default;
    position: absolute;
    background: #fff;
    border-radius: 8px;
    top: 110%;
    border: 1px solid #BECACB;
    right: 0;
    overflow: hidden;
    min-width: 320px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown_content__header {
    padding: 16px;
}

.dropdown_content__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-top: 1px solid #EAEEEE;
    ;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.04);
}

.checkbox_group .checkbox:not(:last-child) {
    margin-bottom: 16px;
}

.checkbox_group {
    max-height: 370px;
    overflow-y: auto;
    padding-right: 10px;
    margin-left: -20px;
    padding-left: 20px;
}

.checkbox_group::-webkit-scrollbar {
    z-index: 20;
    width: 7px;
}

.checkbox_group::-webkit-scrollbar-track {
    background: #244d512f;
    z-index: 20;
}

.checkbox_group::-webkit-scrollbar-thumb {
    z-index: 20;
    border-radius: 100px;
    background: #327680;
}



.radio_indicator{
    width: 12px;
    height: 9px;
    opacity: 0;
    
}

.radio_indicator.checked{
    opacity: 1;
}


.checkbox, .switch {
    display: flex;
    align-items: center;
}

.switch{
    justify-content: space-between;
    padding: 0 5px 0 16px;
}

.switch .border{
    border-radius: 50px;
    width: 54px;
    height: 32px;
    padding: 0 3px;
    background: #BECACB;
    cursor: pointer;
    transition: all cubic-bezier(0, 1.18, 0.78, 0.99) 0.45s;
}

.switch .ok{
z-index: 2;
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
}

.switch .label{
    display: flex;
    align-items: center;
    color: #244D51;
    
    max-width: 235px;

    font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.3px;
}

.switch .indicator {
    position: relative;
    background: #fff;
    width: 26.5px;
    height: 26.5px;
    border-radius: 100%;
    z-index: 1;
    margin-top: 2.5px;
    transition: all cubic-bezier(0, 1.18, 0.78, 0.99) 0.45s;
}



.switch .indicator.checked {
    transform: translateX(21px);
}

.switch .border.checked {
    background: #244D51;
}

.checkbox .border {
    border: 2px solid #91A5A7;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.checkbox .border:after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0);
top: 50%;
left: 50%;
transition: all cubic-bezier(0, 1.18, 0.78, 0.99) 0.45s;
}
.checkbox .border:hover:after{
    transform: translate(-50%, -50%) scale(1);
}

.checkbox .border.checked{
    border-color: #244D51;
    background: #244D51;
}

.checkbox .border:active::after{
    background: #004e572a
}

.checkbox .indicator {
    cursor: pointer;
    
    width: 13.333px;
    height: 10px;
    z-index: 2;
position: absolute;
transform: translate(-50%, -50%) scale(0);
top: 50%;
left: 50%;

    opacity: 0;
    z-index: 1;
    transition: all cubic-bezier(0, 1.18, 0.78, 0.99) 0.25s;
}

.checkbox .indicator path{
    fill: #fff;
}



.checkbox .indicator.checked {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.checkbox .label {
    display: flex;
    align-items: center;
    margin-left: 8px;
    color: #244D51;
    cursor: pointer;
}

.dwn_ctx_hdr__title {
    color: #1C383A;
    font-weight: 600;
}

.apply_btn {
    padding: 4px 24px;
    background: #327680;
    border: 1px solid #327680;
    border-radius: 4px;


    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    cursor: pointer;
}

.search_filter {
    position: relative;
}

.search_filter input {
    width: 100%;
    padding: 12px 8px;
    border-radius: 4px;
    border: #BECACB 1px solid;
    margin-bottom: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    transition: ease-in-out .2s;
}

.search_filter input:focus {
    border: rgb(17, 17, 17) 1px solid;
}


.search_filter input::placeholder {
    color: #91A5A7;
    padding-right: 45px;
}

.search_icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
}

.search_filter input:focus {
    outline: none;
}